*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Caché del compilador de Kotlin
.kotlin
# Dispositivo elegido en Android Studio (propio de cada equipo)
/.idea/deploymentTargetSelector.xml
